.hero {
  display: flex;
  flex-direction: row;
  background-color: #295366;
  border-radius: 50px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  gap: 20px;
}
.formContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inputIcon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.sectionForm {
  position: relative;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 20px;
}
.inputForm {
  background-color: #d9d9d9;
  border: none;
  padding: 6px;
  border-radius: 20px;
  flex: 1;
}
.inputForm:focus {
  outline: none;
}
.labelForm {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #474950;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.categoryForm {
  background-color: #d9d9d9;
  border: none;
  padding: 8px;
  font-size: 0.8em;
  border-radius: 20px;
}

.buttonSearch {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #f96e2a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buttonSearch img {
  width: 20px;
  height: 20px;
}
