.hero {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 2.3rem 0rem;
  background-color: #fbf8ef;
}
.logo {
  color: #f96e2a;
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  left: 40px;
}
.containerButtons {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 0.5rem;
}
.purpleButton {
  background-color: #295366;
  padding: 12px;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.8em;
}
.whiteButton {
  border: none;
  background-color: #c9e6f0;
  padding: 12px;
  border-radius: 2rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}
