.hero {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 3rem 0rem;
}
.logo {
  color: #f96e2a;
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  left: 40px;
}
.containerButtons {
  display: flex;
  position: absolute;
  right: 30px;
  gap: 1.2rem;
}
.purpleButton {
  background-color: #295366;
  padding: 1.5vh;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1em;
}
.whiteButton {
  border: none;
  background-color: #c9e6f0;
  padding: 1.5vh;
  border-radius: 2rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.exitButton {
  position: absolute;
}
