.hero {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.904);
  font-family: "Poppins", sans-serif;
  top: 5rem;
  left: 32rem;
  width: 30%;
  height: 43vw;
  border-radius: 30px;
  padding: 40px 20px;
  z-index: 1000;
}
.headerLogin {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.headerLogin h1 {
  font-weight: 500;
  padding-bottom: 25px;
}
.headerLogin p {
  font-weight: 200;
  font-size: 0.9em;
}
.buttonCloseModal {
  position: absolute;
  right: 20px;
  width: 30px;
}
.headerLogin button {
  font-family: "Poppins", sans-serif;
  display: flex;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #00000000;
  position: relative;
  bottom: 21px;
  left: 59px;
}
.headerLogin button:hover {
  text-decoration: underline;
}
h5 {
  font-size: 0.7em;
  font-weight: 200;
}
.labelForm {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  position: absolute;
  left: 10px;
  pointer-events: none;
  bottom: 19px;
}
.padlockEye {
  position: absolute;
  right: 20px;
  width: 20px;
}
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: #ffffff;
}
.inputIcon {
  width: 20px;
  margin-right: 10px;
}
.inputForm {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
  border-bottom: 1px solid white;
}
.inputForm::placeholder {
  color: #bbb;
  font-size: 16px;
}
.inputForm:focus {
  outline: none;
}
.buttonsLogin img {
  width: 35px;
}
.formulary {
  margin-bottom: 20px;
}
.secondaryActions {
  display: flex;
  align-items: center;
  padding-bottom: 3vw;
}
.secondaryActions label {
  font-size: 0.7em;
  padding-left: 0.5rem;
}
.secondaryActions a {
  color: #ffffff;
  font-size: 0.7em;
  padding-left: 5rem;
}
.buttonLogin {
  background-color: #353535;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1.2em;
  padding: 8px;
  cursor: pointer;
}
.buttonsLogin h1 {
  font-size: 0.9em;
  font-weight: 200;
  text-align: center;
}
.buttonsLogin div {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
