.hero {
  display: flex;
}
.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #35637ac0;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.title {
  text-align: center;
  font-size: 2em;
}
.itemList {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.itemList img {
  border-radius: 50%;
  width: 5vh;

  background-color: #d9d9d9;
  padding: 0.5vh;
}
.infoUser {
  background-color: #fbf8ef;
  color: #000000;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.spanName {
  width: 150px;
  max-width: 150px;
}
.itemList span::placeholder {
  text-align: center;
}
.containerSchedule {
  display: flex;
  gap: 5px;
  align-items: center;
}
.spanSchedule {
  width: 50px;
}
.spanService {
  width: 150px;
  max-width: 150px;
}
.rol {
  min-width: 120px;
  background-color: #fbf8ef;
  color: #000000;
  border-radius: 20px;
  text-align: center;
}
.addEmployeeContainer {
  display: flex;
  padding: 10px;

  gap: 30px;
}
.addProfileImage {
  border-radius: 50%;
  width: 5vh;
  background-color: #d9d9d9;
  padding: 0.5vh;
}
.containerButtons {
  display: flex;
  margin-left: 92vh;
  gap: 20px;
  padding-top: 3vh;
}
.addButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fbf8ef;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerButtons button {
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 15px;
  color: aliceblue;
}
