.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 0;
}
.title {
  color: #f96e2a;
  font-size: 3em;
}
.hero .logo {
  position: absolute;
  left: 40px;
}
.navbarButtons {
  display: flex;
  gap: 1.5rem;
}
.navbarButtons a {
  color: #295366;
  font-weight: 600;
}
.actionButtons {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 0.5rem;
}
.actionWhite {
  background-color: #295366;
  padding: 12px;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.8em;
}
.actionBlack {
  font-family: "Poppins", sans-serif;
  background-color: #c9e6f0;
  padding: 12px;
  border-radius: 2rem;
  color: #000000;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
}
