.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 2.5rem 0;
}
.title {
  color: #f96e2a;
  font-size: 3em;
}
.hero .logo {
  position: absolute;
  left: 40px;
}
.navbarButtons {
  display: flex;
  gap: 1.5rem;
}
.navbarButtons a {
  color: #295366;
  font-weight: 600;
  font-size: 1.2em;
}
.actionButtons {
  display: flex;
  position: absolute;
  right: 40px;
  gap: 2rem;
}
.actionWhite {
  background-color: #295366;
  padding: 2vh;
  border-radius: 2rem;
  color: #fbf8ef;
  font-weight: 600;
  font-size: 1.1em;
}
.actionBlack {
  font-family: "Poppins", sans-serif;
  background-color: #c9e6f0;
  padding: 2vh;
  border-radius: 2rem;
  color: #000000;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
