.hero {
  background-color: #295366c5;
  border: none;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.heroPather {
  padding: 15vh;
}

.heroUser {
  display: flex;
  flex-direction: column;
}
.title {
  border-radius: 20px;
  text-align: center;
  background-color: #ff8245;
  margin: 20px;
}
.listInputs {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.listInputs label {
  position: absolute;
  color: black;
  margin: 10px;
}
.listInputs input {
  border: none;
  width: 30vh;
  border-radius: 20px;
  padding: 1vh;
}
.listInputs li:last-child input {
  width: 30vh;
  height: 20vh;
}
.sectionData {
  display: flex;
  gap: 20px;
}
.sectionContryData {
  display: flex;
  justify-content: center;
}
.sectionAddressMap {
  border-radius: 13px;
  color: black;
  background-color: whitesmoke;
  width: 62vh;
  height: 40vh;
}
.hoursBusiness {
  display: flex;
  gap: 7px;
}
.hoursBusiness input {
  width: 14vh;
}
.containerButtons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  padding-top: 3vh;
}
.containerButtons button {
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 15px;
  color: aliceblue;
}
.colonSymbol {
  font-size: 2em;
  font-weight: 500;
}
