.logo {
  color: #ff8245;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}
.hero {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-family: "Poppins", sans-serif;
}
.heroUser {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.title {
  width: 60vh;
  text-align: center;
  background-color: #ff8245;
}
.containerInputs {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.listLabel {
  position: absolute;
  color: black;
  margin: 10px;
}
.listInput {
  border: none;
  width: 100%;
  padding: 1vh;
}
.containerInputs li:last-child input {
  height: 20vh;
}
.hoursBusiness {
  display: flex;
  gap: 7px;
}
.colonSymbol {
  font-size: 2em;
  font-weight: 500;
  color: black;
}
/* derecho */
.locationSection {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.locationSection label {
  position: absolute;
  color: black;
  margin: 10px;
}
.locationSection input {
  border: none;
  width: 100%;
  padding: 1vh;
}
.locationSection li:last-child input {
  height: 20vh;
}
.sectionData {
  display: flex;
  gap: 20px;
  width: 100%;
}
.sectionContryData {
  display: flex;
  justify-content: center;
}
.sectionAddressMap {
  color: black;
  background-color: whitesmoke;
  height: 30vh;
}

.containerButtons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 200px;
}
.containerButtons button {
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding: 15px;
  color: aliceblue;
}
