.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.contact img {
  width: 4rem;
}
.contact:hover {
  transform: scale(1.1);
}
