.heroDescription {
  display: flex;
  flex-direction: column;
  width: 40%;

  font-family: "Poppins", sans-serif;
  padding: 2rem 4rem;
}
.title {
  color: #f96e2a;
  font-size: 16px;
}
.subtitle {
  color: #295366;
  font-size: 3em;
  font-weight: 700;
}
.description {
  color: #295366;
  font-size: 1em;
  padding: 0 0 1.5rem 0;
  font-weight: 400;
}
.buttonContainer {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.buttonWhite {
  background-color: #f96e2a;
  padding: 0.8rem;
  border-radius: 40px;
  color: #fbf8ef;
  font-weight: 700;
  font-size: 14px;
}
.buttonContanct {
  padding: 0.8rem;
  border-radius: 40px;
  color: #fbf8ef;
  font-weight: 700;
  font-size: 14px;
  background-color: #f96e2a;
}
.heroPage {
  display: flex;
  gap: 8rem;
  align-items: center;
}
.imageMain img {
  margin-top: 3rem;
  width: 100%;
}
