.heroDescription {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: "Poppins", sans-serif;
  padding: 2rem 4rem;
}
.title {
  color: #f96e2a;
  font-size: 2em;
}
.subtitle {
  color: #295366;
  font-size: 3em;
  font-weight: 700;
}
.description {
  color: #295366;
  font-size: 1.5em;
  padding: 0 0 1.5rem 0;
  font-weight: 400;
}
.buttonContainer {
  display: flex;
  margin-top: 5vh;
  justify-content: space-evenly;
}
.buttons {
  background-color: #f96e2a;
  padding: 1rem;
  border-radius: 40px;
  color: #fbf8ef;
  font-weight: 500;
  font-size: 1.2em;
}
.heroPage {
  display: flex;
  gap: 8rem;
  align-items: center;
}
.imageMain img {
  margin-top: 3rem;
  width: 100%;
}
