.hero {
  display: flex;
}

.containerButtons {
  padding: 10vh 0 0 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 botones en la primera fila */
  grid-template-rows: auto auto; /* Dos filas */
  gap: 30px;
  color: #295366;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.buttons {
  background-color: #fbf8ef;
  border-radius: 20px;
  padding: 20px;
}
.buttons:hover {
  color: #fbf8ef;
  background-color: #f96e2a;
}
.buttons a {
  text-align: center;
}
.buttons a img {
  padding: 20px;
  width: 150px;
}
