.hero {
  display: flex;
  padding: 10rem 7rem;
  font-family: "Poppins", sans-serif;
  gap: 10rem;
}
.description {
  width: 30%;
}
.description h1 {
  font-size: 40px;
}
.description p {
  font-size: 20px;
  font-weight: 200;
}
.formulary {
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 30px;
}
.formHeader {
  display: flex;
  justify-content: space-around;
}
section {
  position: relative;
  margin-bottom: 1.5rem;
}
.inputForm {
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  border-radius: 20px;
  width: 260px;
}
.inputForm:focus {
  outline: none;
}
.inputIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 4px;
}
.categoryForm {
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  border-radius: 20px;
  width: 50%;
}
.categoryForm:focus {
  outline: none;
}
.categoryContainer {
  display: flex;
  justify-content: center;
}
.buttonSearch {
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 40%;
  font-weight: bold;
  background-color: #fff;
  height: 3vw;
}
.containerButton {
  display: flex;
  justify-content: center;
}
.labelForm {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #474950;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.labelCategory {
  position: absolute;
  top: 50%;
  left: 9.5rem;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #474950;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
