.hero {
  display: flex;
  padding: 10rem 7rem;
  font-family: "Poppins", sans-serif;
  gap: 10rem;
  background-color: #fbf8ef;
}
.description {
  width: 30%;
}
.description h1 {
  color: #f96e2a;
  font-size: 3em;
}
.description p {
  color: #295366;
  font-size: 1.4em;
  font-weight: 400;
}
.formulary {
  background-color: #29536675;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  gap: 30px;
}
.formHeader {
  display: flex;
  justify-content: space-around;
}
.sectionForm {
  position: relative;
  margin-bottom: 1.5rem;
}
.inputForm {
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  border-radius: 20px;
  width: 260px;
  flex: 1;
}
.inputForm:focus {
  outline: none;
}
.inputIcon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.categoryForm {
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  border-radius: 20px;
}
.categoryForm:focus {
  outline: none;
}
.categoryContainer {
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
.buttonSearch {
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 40%;
  font-weight: bold;
  background-color: #295366;
  height: 3vw;
  cursor: pointer;
  color: #ffffff;
}
.containerButton {
  display: flex;
  justify-content: center;
}
.labelForm {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #474950;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.labelCategory {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #474950;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 20px;
}
