.selectDays {
  background-color: whitesmoke;
  width: 100%;
  padding: 1vh;
}
.itemDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: whitesmoke;
  gap: 10px; /* Reduce el espacio entre elementos */
  padding: 10px;
}
.itemDay label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}
