html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #fdf7f4, #81c6dd, #2e98c9);
  background-size: 250% 250%;
}

#root {
  color: white;
  z-index: 1;
  height: 100%;
}
a {
  text-decoration: none;
}
