* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    #fdf7f4,
    #c9e6f0,
    #c9e6f0,
    #78b3ce,
    #b87e66
  );
  background-size: 300% 300%;
}

#root {
  color: white;
  z-index: 1;
}
a {
  text-decoration: none;
}
